POSTGRES_PASSWORD=replace-with-admin-password
APP_DB_PASSWORD=replace-with-application-password
KEYCLOAK_DB_PASSWORD=replace-with-keycloak-database-password
KEYCLOAK_ADMIN_PASSWORD=replace-with-keycloak-administration-password
DEMO_ADMIN_PASSWORD=replace-with-booking-admin-password
DEMO_CUSTOMER_PASSWORD=replace-with-booking-customer-password
